
# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
xcuserdata/

# SwiftPM
.build/
Packages/

# User settings
*.swp
*.lock
*.DS_Store

# Logs
*.log

# Playground support
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/

# Carthage
Carthage/Build/
